@keyframes load {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}


@keyframes intro {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
		transform: scale(0.1) rotate(100deg) translateY(30%);
		animation-timing-function: ease-out;		
	}
	60% {
		opacity: 1;
		transform: scale(1) rotate(-200deg);
		animation-timing-function: ease-out;	
	}	
	70% {
		transform: translateX(0) translateY(0);
		animation-timing-function: ease-out;	
	}		
	86% { transform: translateX(20%) rotate(3deg); }
	88% { transform: translateX(-15%) rotate(-3deg); }
	92% { transform: translateX(10%) rotate(2deg); }
	96% { transform: translateX(-5%) rotate(-1deg); }
	100% { transform: translateX(0%); }		
	
} 


@keyframes resetboard {

	0% {
		transform-origin: center center;
		transform: rotate(0);
		opacity: 1;
	}
	
	34% {
		transform-origin:140% -20%;
		transform: rotate(-200deg) scale(.1);
		opacity: 0;
	}
	
	35% {
		transform-origin:-40% 120%;
		transform: rotate(200deg) scale(.1);		
		opacity: 0;		
	}

	70% {
		transform-origin: center center;
		transform: rotate(0) scale(1);
		opacity: 1;
	}
		
	
	82% { transform: translateX(-25%) rotate(-5deg); }
	86% { transform: translateX(20%) rotate(3deg); }
	88% { transform: translateX(-15%) rotate(-3deg); }
	92% { transform: translateX(10%) rotate(2deg); }
	96% { transform: translateX(-5%) rotate(-1deg); }
	100% { transform: translateX(0%); }	
	
}