

// BODY
$color-body-bg						:	#DDD;
$color-body-text					:	#666;




// BOARD
$color-board-outer					:	#EEE;					
$color-board-inner					:	#CCC;





// IDLE STATE

// tiles
$color-tiles-default				:	#F0F0F0;
$color-tiles-alternate				:	#E8E8E8;

// numbers
$color-numbers-default				:	#A0A0A0;			
$color-numbers-alternate			:	#989898;




// PRESSED STATE

// tiles
$color-tiles-default-pressed		:	#E8E8E8;
$color-tiles-alternate-pressed		:	#E0E0E0;

// numbers
$color-numbers-default-pressed		:	#989898;							
$color-numbers-alternate-pressed	:	#909090;			