# ===================
# MacOSX hidden files
# ===================

.DS_Store


# ====
# SASS
# ====

*.sass-cache*


# ============
# Dependencies
# ============

node_modules
bower_components


# =====================================
# Bower config file with proxy settings
# =====================================

*.log
