

// BODY
$background_body: #333;
$fontColor_body: #F00;

// BOARD
$background_board--outside: #999;
$background_board--inside: #222;


// IDLE STATE

// tiles
$background_tiles: #989898;
$background_tiles--alternate: #787878;

// numbers
$fontColor_tiles: #D8D8D8;
$fontColor_tiles--alternate: #E8E8E8;



// PRESSED STATE

// tiles
$background_tiles--pressed: #909090;
$background_tiles--alternate--pressed: #707070;

// numbers
$fontColor_tiles--pressed: #C0C0C0;
$fontColor_tiles--alternate--pressed: #D0D0D0;
