// BODY
$color-body-bg: #DDD;
$color-body-text: #F00;

// BOARD
$color-board-outer: #999;
$color-board-inner: #222;

// IDLE STATE

// tiles
$color-tiles-default: #999;
$color-tiles-alternate: #777;

// numbers
$color-numbers-default: rgba(220,220,220,1);
$color-numbers-alternate: rgba(255,255,255,1);

// PRESSED STATE

// tiles
$color-tiles-default-pressed: #E8E8E8;
$color-tiles-alternate-pressed: #E0E0E0;

// numbers
$color-numbers-default-pressed: rgba(200,200,200,1);
$color-numbers-alternate-pressed: rgba(200,200,200,1);
