%full-size {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
}

#game-wrapper {
  @include meyer-reset;
  position: relative;
}

#bg {
  @extend %full-size;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  pointer-events: auto;

  img {
    @extend %full-size;

    html.cssfilters & {
      filter: blur(20px) brightness(80%);
    }

  }
}

#game-wrapper,
#game,
#board {
  @extend %full-size;
}

#game {
  position: absolute;
  z-index: 10;
  background-color: $background_board--outside;
  border-radius: $board-border-radius-outer;
  box-shadow: 0 0 0.3em rgba(0, 0, 0, 1), 0 0 0.1em rgba(0, 0, 0, 1);
  transition: box-shadow 0.2s 1s;

  &.animationInProgress,
  &.animationInProgress * {
    transition: none;
    box-shadow: none;
  }
}

#board {

  position: relative;
  box-shadow: 0 0 0 $tiles-spacing $background_board--inside;
  border-radius: $board-border-radius-inner;
  background: $background_board--inside;


  .tile {
    position: absolute;
    cursor: pointer;
    transform: translateZ(0);
    transform-style: preserve-3d;
    backface-visibility: hidden;

    &:focus {
      outline: 0;
    }
    &.hole {
      display: none;
    }

    & > * {
      pointer-events: none;
    }

    .inner {
      @extend %full-size;
      margin: 0;
      box-sizing: border-box;
      box-shadow: 0 0 0 $tiles-spacing $background_board--inside inset;
      background: $background_tiles;
      background-size: auto;
      background-repeat: no-repeat;
      border-radius: $board-border-radius-inner + $tiles-spacing;
      transition-property: background-color, transform;
      transition-duration: 50ms;
      transition-timing-function: ease-out;
    }

    .number {
      @extend %full-size;
      line-height: 200%;
      text-align: center;
      font-family: sans-serif;
      color: $fontColor_tiles;
      text-shadow: 0.01em 0.01em 0.1em rgba(0, 0, 0, 1);
    }


    &.pressed,
    &:active {

      .inner {
        will-change: transform, transition, background;
        background: $background_tiles--pressed;        
        transform: scale(0.97);
        transition: none;
      }

      .number {
        color: $fontColor_tiles--pressed;
      }

    }

    &.even-row.odd-col,
    &.odd-row.even-col {
      .inner {
        background: $background_tiles--alternate;
      }
      .number {
        color: $fontColor_tiles--alternate;
      }
    }

    &.even-row.odd-col.pressed,
    &.odd-row.even-col:active {
      .inner {
        background: $background_tiles--alternate--pressed;
      }
      .number {
        color: $fontColor_tiles--alternate--pressed;
      }
    }


  } // tile

} // board
