%full-size {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#game-wrapper {
  @include meyer-reset;
}

#game-wrapper, 
#game, 
#board {
  @extend %full-size;
}

#game {
  position: absolute;
  z-index: 10;
  background-color: $color-board-outer;
  border-radius: $board-border-radius-outer;

  &.noTransitions * {
    transition: none !important;
  }
}

#board {
  position: relative;
  box-shadow: 0 0 0 $tiles-spacing $color-board-inner;
  border-radius: $board-border-radius-inner;
  background: $color-board-inner;

  .tile {
    position: absolute;
    cursor: pointer;
    transform: translateZ(0);
    transform-style: preserve-3d;
    backface-visibility: hidden;

    &:focus {
      outline: 0;
    }

    &.hole {
      display: none;
    }

    .inner {
      @extend %full-size;
      margin: 0;
      box-sizing: border-box;
      box-shadow: 0 0 0 $tiles-spacing $color-board-inner inset;
      background-color: $color-tiles-default;
      background-repeat: no-repeat;
      border-radius: $board-border-radius-inner + $tiles-spacing;
      transition-property: color, background-color, transform;
      transition-duration: 200ms;
      transition-timing-function: ease-out;
    }

    .number {
      @extend %full-size;
      line-height: 200%;
      text-align: center;
      font-family: sans-serif;
      color: $color-numbers-default;
    }

    &.selected {
      transition: none;
    }

    .noTouch &:hover,
    &.pressed {

      .inner {
        background-color: $color-tiles-default-pressed;
        transform: scale(0.95);
        transition-duration: 10ms;
        transition-timing-function: ease-in;
      }

      .number {
        color: $color-numbers-default-pressed;
      }

    }

    &.even-row.odd-col,
    &.odd-row.even-col {

      .inner {
        background-color: $color-tiles-alternate;
      }

      .number {
        color: $color-numbers-alternate;
      }

      .noTouch &:hover,
      &.pressed {

        .inner {
          background-color: $color-tiles-alternate-pressed;
        }

        .number {
          color: $color-numbers-alternate-pressed;
        }

      }
    }
  }
}
