@import "reset";
@import "vars";
@import "colors";
@import "animations";
@import "game";

html, body {
  @extend %full-size;
}

body {
  background: $background_body;
  color: $fontColor_body;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background-color: transparent;
}
